@import "color.sass" 
.command
	padding: 95px 0
	@media(max-width: 767px)
		padding-bottom: 40px
	h2
		@include h2
		padding-bottom: 40px
	&__block
		height: 400px
		background-image: url("../img/command-2.png")
		margin-left: 20px
		position: relative
		background-size: cover
		@media(max-width: 767px)
			margin: 40px 0
		&--padding
			margin-right: 20px
			margin-left: 0
			background-image: url("../img/command-1.png")
			@media(max-width: 767px)
				margin-right: 0
		&__name
			position: absolute
			width: 100%
			bottom: 0
			background: rgba(69, 39, 159, 0.6)
			padding: 20px 0
			p
				font-size: 20px
				font-weight: 500
				color: $white
			span
				font-size: 16px
				color: $white
				font-weight: 200