@import "color.sass" 
.footer
	background: #333333
	padding: 10px 0
	p
		color: $white
	a
		color: $white
		border-bottom: 1px solid $white
	&__social
		a
			width: 25px
			height: 25px
			background: $gray
			display: inline-block
			border-radius: 160px
			border: none
