@import "color.sass" 
.tariff
	padding-top: 30px
	h2
		@include h2
		padding-bottom: 30px
	.col-xs-3
		margin: 0 20px
	&__block
		border: 2px solid $purple
		border-radius: 4px
		min-height: 350px
		position: relative
		padding-bottom: 110px
		h4
			padding: 15px 0
			width: 100%
			background: $purple
			margin: 0 auto
			justify-content: center
			display: flex
			color: $white
		ul
			padding-top: 20px
		li
			padding-left: 50px
			line-height: 30px
			font-size: 15px
		&__bottom
			position: absolute
			bottom: 0
			width: 100%
			margin: 0 auto
			padding-bottom: 20px
			span
				display: block
				padding-bottom: 20px
			a
				display: inline-block
				padding: 10px 43px
				background: $purple
				color: $white