@import "color.sass" 
.trademark
  background: url("http://via.placeholder.com/1000x900") no-repeat
  width: 100%
  height: 700px
  background-size: cover
  .container, .row
    height: 100%
  &__content
    max-width: 600px
    h1
      color: $white
      padding-top: 120px
    p
      color: $white
      padding: 25px 0
    a
      display: inline-block
      padding: 10px 35px
      border: 2px solid $white
      border-radius: 4px
      color: $white
      transition: all 0.4s
      &:hover
        border-color: $purple
        color: $purple