@import "color.sass" 
.whom
  background: $purple
  padding-top: 60px
  padding-bottom: 100px
  h2
    @include h2
    color: $white
    padding-bottom: 70px
  p
    color: $white
    max-width: 200px
    display: flex
    margin: 0 auto
  