extends layouts/_layout
block content
	include partials/_trademark
	include partials/_advantages
	include partials/_what
	include partials/_whom
	include partials/_work
	include partials/_tariff
	include partials/_trust
	include partials/_command
	include partials/_contacts
	