section.advantages
	.container
		.row
			.col-xs-6
				h2.flex.center-xs Наши преимущества
				ul
					li Регистрация товарного знака потентными экспертами в 
						span
					li Регистрация товарного знака потентными экспертами в 
						span
					li Регистрация товарного знака потентными экспертами в 
						span
					li Регистрация товарного знака потентными экспертами в Регистрация товарного 
						span
					li Регистрация товарного знака потентными экспертами в Регистрация товарного 
						span
					li Регистрация товарного знака потентными экспертами в 
						span
					li Регистрация товарного знака потентными экспертами в Регистрация товарного 
						span
					li Регистрация товарного знака потентными экспертами в 
						span
					li Регистрация товарного знака потентными экспертами в 
						span
			.col-xs-6
				.advantages__img
			.col-xs-6
				.advantages__img
			.col-xs-6
				h2.flex.center-xs Наши преимущества
				ul
					li Регистрация товарного знака потентными экспертами в 
						span
					li Регистрация товарного знака потентными экспертами в 
						span
					li Регистрация товарного знака потентными экспертами в 
						span
					li Регистрация товарного знака потентными экспертами в Регистрация товарного 
						span
					li Регистрация товарного знака потентными экспертами в Регистрация товарного 
						span
				