section.advantages
	.row
		.col-sm-6.col-xs-12
			.container
				h2.flex.center-xs Наши преимущества
				ul
					li Бесплатная консультация от патентного эксперта.
						span
					li Бесплатный патентный поиск и рекомендации по доработке товарного знака.
						span
					li Регистрация комбинированных и нетрадиционных товарных знаков.
						span
					li Регистрация общеизвестных товарных знаков. 
						span
					li Фиксированная цена на весь год обслуживания, без накруток и навязывания услуг.
						span
					li Подача заявки на регистрацию в течение 48 часов с даты заключения договора.
						span
					li  Услуги дизайнера по разработке логотипов.
						span
					li  Представительство в Роспатенте в ходе всей процедуры регистрации.
						span
					li Постоянная связь по телефону, электронной почте, мессенджерам…
						span
		.col-sm-6.col-xs-12
			.advantages__img
	.row
		.col-sm-6.col-xs-12.first-sm.last-xs
			.advantages__img.advantages__img--img
		.col-sm-6.col-xs-12
			.container
				h2.flex.center-xs Наши компетентности
				ul
					li Представительство в Палате по патентным спорам и арбитражных судах на всей территории РФ.
						span
					li Разработка франчайзинговых и налоговых схем.
						span
					li Лицензирование программного обеспечения. 
						span
					li Разработка лицензионных договоров и договоров об отчуждении исключительных прав. 
						span
					li Защита прав писателей, художников, музыкантов, дизайнеров, видеоблогеров и других контентмейкеров, авторов и исполнителей.
						span
				