section.command
	.container
		.row.center-xs
			.col-xs-12
				h2 Наша команда
			.col-sm-6.col-xs-12
				.command__block.command__block--padding
					.command__block__name
						p Мария Конар
						span Основатель компании
			.col-sm-6.col-xs-12
				.command__block
					.command__block__name
						p Николай Федоров
						span Директор
