section.command#ex5
	.container
		.row.center-xs
			.col-xs-12
				h2 Наша команда
		.swiper-container#command
			.swiper-wrapper
				.swiper-slide
					img(src="img/command-1.png", alt="")
					.command__block.center-xs
						p Мария Конар
						span Основатель компании
				.swiper-slide
					img(src="img/command-2.png", alt="")
					.command__block.center-xs
						p Николай Федоров
						span Директор
				.swiper-slide
					img(src="img/command-1.png", alt="")
					.command__block.center-xs
						p Мария Конар
						span Основатель компании
				.swiper-slide
					img(src="img/command-2.png", alt="")
					.command__block.center-xs
						p Николай Федоров
						span Директор
		.swiper-button-next#next
			img(src="img/arrows.png", alt="")
		.swiper-button-prev#prev
			img(src="img/arrows.png", alt="")
