section.contacts
	.row
		.col-xs-12
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.109004627888!2d37.584330415440625!3d55.7392350005064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54bac325bbba1%3A0x4fb8c4af9461672e!2zU3dlZGlzaCBUcmFkZSBDb3Vuc2lsICjQn9GA0LXQtNGB0YLQsNCy0LjRgtC10LvRjNGB0YLQstC-KQ!5e0!3m2!1sru!2sua!4v1513674232652" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen)
		.col-xs-12
			.contacts__block
				h2 Наши контакты
				p Адрес
					i.icon-PinMini
				a ул. Смотровая, 154, офис 124, Москва
				p Телефон
					i.icon-Phone
				a(href="tel:+7(555)2458847") +7 (555) 245-88-47
				p Email
					i.icon-Mail
				a(href="mailto:patent-lab@info.com") patent-lab@info.com