section.contacts#ex6
	.row
		.col-xs-12
			#map
		.col-xs-12
			.contacts__block
				h2 Наши контакты
				p Адрес
					i.icon-PinMini
				a ул. Смотровая, 154, офис 124, Москва
				p Телефон
					i.icon-Phone
				a(href="tel:+7(555)2458847") +7 (555) 245-88-47
				p Email
					i.icon-Mail
				a(href="mailto:patent-lab@info.com") patent-lab@info.com