footer.footer
	.container
		.row.middle-sm.center-xs
			.col-md-5.col-sm-4.col-xs-12.last-xs.first-sm.start-sm
				p © ООО "Patent-Lab", 2017 г.
			.col-md-2.col-sm-3.col-xs-12
				.footer__social.flex.between-sm.center-xs
					a(href="#")
						i.icon-facebook-logo
					a(href="#")
						i.icon-vk
					a(href="#")
						i.icon-google-plus
					a(href="#")
						i.icon-twitter
			.col-sm-5.col-xs-12.end-sm
				a(href="#") Политика конфидециальности