footer.footer
	.container
		.row.middle-xs
			.col-xs-5
				p ООО "Njs" 2017г
			.col-xs-2
				.footer__social.flex.between-xs
					a(href="#")
						i
					a(href="#")
						i
					a(href="#")
						i
					a(href="#")
						i
			.col-xs-5.end-xs
				a(href="#") Политика конфидециальности