header.header
	.header__toolbar
		.container
			.row.end-xs
				.col-xs-3.start-xs
					a(href="#") ул. Смотричкого, 154, офс 24
				.col-xs-2
					a(href="mailto:patent-lab@info.com") patent-lab@info.com
				.col-xs-2
					a(href="tel:7(555)4804548") 7(555)480-45-48
	.header__content
		.container
			.row.middle-xs
				.col-xs-3
					img(src="http://via.placeholder.com/250x70", alt="")
				.col-xs-6
					nav
						ul.flex.around-xs
							li
								a(href="#") Приимущества
							li
								a(href="#") Партнеры
							li
								a(href="#") О нас
							li
								a(href="#") Отзывы
							li
								a(href="#") Команда
							li
								a(href="#") Контакты
				.col-xs-3.center-xs
					.header__content__tel
						a(href="#")
							span 8-800-000-00-00
							p Заказать обратный звонок

					