header.header
	.header__toolbar
		.container
			.row.end-xs
				.col-md-6.col-sm-8
					.header__toolbar__content.flex.between-xs
						a(href="#") ул. Смотричкого, 154, офс 24
							i.icon-PinMini
						a(href="mailto:patent-lab@info.com") patent-lab@info.com
							i.icon-Mail
						a(href="tel:7(555)4804548") 7(555)480-45-48
							i.icon-Phone
	.header__content
		.container
			.row.middle-xs
				.col-md-3.col-xs-6
					img(src="img/logo.svg", alt="")
				.col-md-6
					nav.menu
						ul.flex.around-xs
							li
								a(href="#ex1") Приимущества
							li
								a(href="#ex2") Партнеры
							li
								a(href="#ex3") О нас
							li
								a(href="#ex4") Отзывы
							li
								a(href="#ex5") Команда
							li
								a(href="#ex6") Контакты
				.col-md-3.end-xs.col-xs-6
					.header__content__tel
						a(href="#").btn
							span 8-800-340-30-30
							p Заказать обратный звонок

					