section.tariff
	.container
		.row.center-xs
			.col-xs-12
				h2 Наши тарифы
			.col-md-3.col-xs-12.start-xs
				.tariff__block
					h4 Потентный поиск
					ul
						li Подача заявки
							img(src="img/Icon13.svg", alt="")
						li Консультация
							img(src="img/Icon13.svg", alt="")
						li Патентный поиск по словесным обозначениям
							img(src="img/Icon13.svg", alt="")
					.tariff__block__bottom
						.row.center-xs
							.col-xs-12
								span Бесплатно!
								a(href="#").btn Оставить заявку
			.col-md-3.col-xs-12.start-xs
				.tariff__block
					h4 Регистрация
					ul
						li Подача заявки
							img(src="img/Icon13.svg", alt="")
						li Консультация
							img(src="img/Icon13.svg", alt="")
						li Патентный поиск по словесным обозначениям
							img(src="img/Icon13.svg", alt="")
						li Регистрация товарного знака
							img(src="img/Icon13.svg", alt="")
					.tariff__block__bottom
						.row.center-xs
							.col-xs-12
								span 25 000 ₽
								a(href="#").btn Оставить заявку
			.col-md-3.col-xs-12.start-xs
				.tariff__block
					h4 Разработка логотипа
					ul
						li Подача заявки
							img(src="img/Icon13.svg", alt="")
						li Консультация
							img(src="img/Icon13.svg", alt="")
						li Патентный поиск по словесным обозначениям
							img(src="img/Icon13.svg", alt="")
						li Разработка уникального логотипа
							img(src="img/Icon13.svg", alt="")
						li Регистрация товарного знака
							img(src="img/Icon13.svg", alt="")
					.tariff__block__bottom
						.row.center-xs
							.col-xs-12
								span 100 000 ₽
								a(href="#").btn Оставить заявку
