section.trademark
	.container
		.row.middle-xs
			.col-xs-12
				.trademark__content
					h1 Регистрация товарного знака потентными экспертами в РФ
					p Регистрация товарного знака потентными экспертами в РФ Регистрация товарного знака потентными экспертами в РФ
					a(href="#").btn Заказать