section.trademark
	.container
		.row.middle-xs
			.col-xs-12
				.trademark__content
					h1 Регистрация товарного знака патентными экспертами в РФ
					p Бесплатный патентный поиск, фиксированная цена,без навязывания дополнительных услуг
					a(href="#").btn Заказать