section.trust
	.container
		.row.center-xs
			.col-xs-12
				h2 Нам даверяют
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					img(src="http://via.placeholder.com/100x100", alt="")
					.swiper-slide__block
						p sustem compani
						p Регистрация товарного знака потентными экспертами в Регистрация товарного знака 
				.swiper-slide
					img(src="http://via.placeholder.com/100x100", alt="")
					.swiper-slide__block--top
						p sustem compani
						p Регистрация товарного знака потентными экспертами в Регистрация товарного знака
				.swiper-slide
					img(src="http://via.placeholder.com/100x100", alt="")
					.swiper-slide__block
						p sustem compani
						p Регистрация товарного знака потентными экспертами в Регистрация товарного знака 
				.swiper-slide
					img(src="http://via.placeholder.com/100x100", alt="")
					.swiper-slide__block--top
						p sustem compani
						p Регистрация товарного знака потентными экспертами в Регистрация товарного знака 
				.swiper-slide
					img(src="http://via.placeholder.com/100x100", alt="")
					.swiper-slide__block
						p sustem compani
						p Регистрация товарного знака потентными экспертами в Регистрация товарного знака 
				.swiper-slide
					img(src="http://via.placeholder.com/100x100", alt="")
					.swiper-slide__block--top
						p sustem compani
						p Регистрация товарного знака потентными экспертами в Регистрация товарного знака 
				.swiper-slide
					img(src="http://via.placeholder.com/100x100", alt="")
					.swiper-slide__block
						p sustem compani
						p Регистрация товарного знака потентными экспертами в Регистрация товарного знака 
				.swiper-slide
					img(src="http://via.placeholder.com/100x100", alt="")
					.swiper-slide__block--top
						p sustem compani
						p Регистрация товарного знака потентными экспертами в Регистрация товарного знака 
				.swiper-slide
					img(src="http://via.placeholder.com/100x100", alt="")
					.swiper-slide__block
						p sustem compani
						p Регистрация товарного знака потентными экспертами в Регистрация товарного знака 
				.swiper-slide
					img(src="http://via.placeholder.com/100x100", alt="")
					.swiper-slide__block--top
						p sustem compani
						p Регистрация товарного знака потентными экспертами в Регистрация товарного знака 
				.swiper-slide
					img(src="http://via.placeholder.com/100x100", alt="")
					.swiper-slide__block
						p sustem compani
						p Регистрация товарного знака потентными экспертами в Регистрация товарного знака 
				.swiper-slide
					img(src="http://via.placeholder.com/100x100", alt="")
					.swiper-slide__block--top
						p sustem compani
						p Регистрация товарного знака потентными экспертами в Регистрация товарного знака 
				.swiper-slide
					img(src="http://via.placeholder.com/100x100", alt="")
					.swiper-slide__block
						p sustem compani
						p Регистрация товарного знака потентными экспертами в Регистрация товарного знака 
				.swiper-slide
					img(src="http://via.placeholder.com/100x100", alt="")
					.swiper-slide__block--top
						p sustem compani
						p Регистрация товарного знака потентными экспертами в Регистрация товарного знака 
		.swiper-button-next
		.swiper-button-prev