section.trust
	.container
		.row.center-xs
			.col-xs-12
				h2 Нам доверяют
		.swiper-container#container
			.swiper-wrapper
				.swiper-slide
					img(src="http://via.placeholder.com/130x90", alt="")
					.swiper-slide__block
						p Southern Company
						p В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору.
				.swiper-slide
					img(src="http://via.placeholder.com/130x90", alt="")
					.swiper-slide__block--top
						p Southern Company
						p В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору.
				.swiper-slide
					img(src="http://via.placeholder.com/130x90", alt="")
					.swiper-slide__block
						p Southern Company
						p В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору. 
				.swiper-slide
					img(src="http://via.placeholder.com/130x90", alt="")
					.swiper-slide__block--top
						p Southern Company
						p В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору. 
				.swiper-slide
					img(src="http://via.placeholder.com/130x90", alt="")
					.swiper-slide__block
						p Southern Company
						p В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору. 
				.swiper-slide
					img(src="http://via.placeholder.com/130x90", alt="")
					.swiper-slide__block--top
						p Southern Company
						p В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору. 
				.swiper-slide
					img(src="http://via.placeholder.com/130x90", alt="")
					.swiper-slide__block
						p Southern Company
						p В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору. 
				.swiper-slide
					img(src="http://via.placeholder.com/130x90", alt="")
					.swiper-slide__block--top
						p Southern Company
						p В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору. 
				.swiper-slide
					img(src="http://via.placeholder.com/130x90", alt="")
					.swiper-slide__block
						p Southern Company
						p В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору. 
				.swiper-slide
					img(src="http://via.placeholder.com/130x90", alt="")
					.swiper-slide__block--top
						p Southern Company
						p В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору. 
				.swiper-slide
					img(src="http://via.placeholder.com/130x90", alt="")
					.swiper-slide__block
						p Southern Company
						p В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору. 
				.swiper-slide
					img(src="http://via.placeholder.com/130x90", alt="")
					.swiper-slide__block--top
						p Southern Company
						p В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору. 
				.swiper-slide
					img(src="http://via.placeholder.com/130x90", alt="")
					.swiper-slide__block
						p Southern Company
						p В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору. 
				.swiper-slide
					img(src="http://via.placeholder.com/130x90", alt="")
					.swiper-slide__block--top
						p Southern Company
						p В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору. 
		.swiper-button-next.next
			img(src="img/arrows.png", alt="")
		.swiper-button-prev.prev
			img(src="img/arrows.png", alt="")