sectiom.what
	.container
		.row.center-xs
			.col-sm-6.col-xs-9
				h2 Зачем регистрировать товарный знак?
			.col-xs-12
				a(href="#") Скачать презинтацию: 5 причин зарегистрировать товарный знак
					img(src="img/Dwonload.svg", alt="")
		.row.center-xs
			.col-md-3.col-sm-6.col-xs-12
				.what__block
					.row.start-xs
						.col-xs-3
							img(src="img/what/Icon1.svg", alt="").what__block--icon
						.col-xs-9
							h4 Масштабирование бизнеса
							p  Товарный знак необходим при продаже франшизы
			.col-md-3.col-sm-6.col-xs-12
				.what__block
					.row.start-xs
						.col-xs-3
							img(src="img/what/Icon2.svg", alt="")
						.col-xs-9
							h4 Оптимизация налогообложения
							p  Регистрация товарного знака дает его владельцу возможность применения более выгодных налоговых ставок.
			.col-md-3.col-sm-6.col-xs-12
				.what__block
					.row.start-xs
						.col-xs-3
							img(src="img/what/Icon3.svg", alt="")
						.col-xs-9
							h4 Продвижение на рынке
							p Известный бренд привлекает потребителя к продукциии компании, повышая продажи.
			.col-md-3.col-sm-6.col-xs-12
				.what__block
					.row.start-xs
						.col-xs-3
							img(src="img/what/Icon4.svg", alt="")
						.col-xs-9
							h4 Получение<br> кредита
							p  Под залог исключительного права на товарный знак.
			.col-md-3.col-sm-6.col-xs-12
				.what__block
					.row.start-xs
						.col-xs-3
							img(src="img/what/Icon5.svg", alt="")
						.col-xs-9
							h4 Защита от конкурентов
							p  Возможность защитить права от недобросовестных конкурентов, взыскать убыткии компенсацию.
			.col-md-3.col-sm-6.col-xs-12
				.what__block
					.row.start-xs
						.col-xs-3
							img(src="img/what/Icon6.svg", alt="")
						.col-xs-9
							h4 Привлечение инвестиций
							p ТЗ является активом, который можно продать, заложить, передать в пользование третьим лицам.
			.col-md-3.col-sm-6.col-xs-12
				.what__block
					.row.start-xs
						.col-xs-3
							img(src="img/what/Icon7.svg", alt="")
						.col-xs-9
							h4 Повышение стоимости бизнеса
							p ТЗ является активом, который можно продать, заложить, передать в пользование третьим лицам.