section.whom
	.container
		.row.center-xs.around-xs
			.col-xs-12
				h2 Кому нужно регистрировать товарный знак?
			.col-xs-3
				img(src="http://via.placeholder.com/90x90", alt="")
				p Кому нужно регистрировать товарный знак
			.col-xs-3
				img(src="http://via.placeholder.com/90x90", alt="")
				p Кому нужно регистрировать 
			.col-xs-3
				img(src="http://via.placeholder.com/90x90", alt="")
				p Кому нужно регвать товарный знак Кому нужно регистрировать товарный знак
		.row.center-xs
			.col-xs-4
				img(src="http://via.placeholder.com/90x90", alt="")
				p Кому нужно регистрир товарный знак Кому нужно регистрировать товарный знак Кому нужно регистрировать товарный знак
			.col-xs-4
				img(src="http://via.placeholder.com/90x90", alt="")
				p Кому нужно регистрь товарный знак Кому нужно регистрировать товарный знак Кому нужно регистрировать товарный знак
