section.work
	.container
		.row.center-xs
			.col-xs-12
				h2 Как это работает?
		.work__mobile
			.row.center-xs
				.col-xs-8.start-xs
					span Вы оставляете заявку на сайте.
						p.work__mobile--1 1
					span В течение 10 минут с вами связывается менеджер и согласует условия работы.
						p 2
					span Мы заключаем с Вами договори бесплатно проводим патентный поиск.
						p 3
					span В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору.
						p 4
					span В течение 2-х дней мы формируем пакет документов и подаем заявкуна регистрацию патента. Также потребуется оплатить госпошлину.
						p 5
					span По истечение 1-1,5 месяцев мы получаем и передаем Вам письмо о прохождении формальной экспертизыи приоритетную справку.
						p 6
					span По истечение 8-10 месяцев мы получаем и передаем Вам свидетельствоо регистрации товарного знака.
						p 7
		.work__text
			.row.center-md.start-xs.middle-xs
				.col-md-3.col-xs-12
					p.work--padding Вы оставляете заявку на сайте.
				.col-md-3.col-xs-12
					p Мы заключаем с Вами договори бесплатно проводим патентный поиск.
				.col-md-3.col-xs-12
					p В течение 2-х дней мы формируем пакет документов и подаем заявкуна регистрацию патента. Также потребуется оплатить госпошлину.
				.col-md-3.col-xs-12
					p.work--padding1 По истечение 8-10 месяцев мы получаем и передаем Вам свидетельствоо регистрации товарного знака.
		.work__stage.flex.between-xs
			.work__stage__content
				.work__stage__content__block
				span Этап 1
					i.icon-angle-right
				p
			.work__stage__content.work__stage__content--border
				.work__stage__content__block
				span Этап 2
					i.icon-angle-right
				p
			.work__stage__content
				.work__stage__content__block
				span Этап 3
					i.icon-angle-right
				p
			.work__stage__content.work__stage__content--border
				.work__stage__content__block
				span Этап 4
					i.icon-angle-right
				p
			.work__stage__content
				.work__stage__content__block
				span Этап 5
					i.icon-angle-right
				p
			.work__stage__content.work__stage__content--border
				.work__stage__content__block
				span Этап 6
					i.icon-angle-right
				p
			.work__stage__content
				.work__stage__content__block
				span Этап 7
				p
		.work__text
			.row.center-md.start-xs
				.col-md-3.col-xs-12
					p.work--padding В течение 10 минут с вами связывается менеджер и согласует условия работы.
				.col-md-3.col-xs-12
					p В случае отсутствия препятствий для регистрации Вашего товарного знака, Вы оплачиваете стоимость услуг по договору.
				.col-md-3.col-xs-12
					p.work--padding1 По истечение 1-1,5 месяцев мы получаем и передаем Вам письмо о прохождении формальной экспертизыи приоритетную справку.