meta(charset="utf-8")
title Patent
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" id="viewport" content="width=450, minimum-scale=0.3, maximum-scale=3, user-scalable=no, target-densitydpi=device-dpi")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
link(rel="stylesheet" media="all" href="css/flexboxgrid.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/css/swiper.min.css")
link(rel="stylesheet" media="all" href="css/app.css")
