include _mixins
doctype html
html
  head
    include _head

  body
    #menu.slideout-menu.slideout-menu-right
      ul.menu
        li
          a(href="#ex1") Приимущества
        li
          a(href="#ex2") Партнеры
        li
          a(href="#ex3") О нас
        li
          a(href="#ex4") Отзывы
        li
          a(href="#ex5") Команда
        li
          a(href="#ex6") Контакты
      .menu-close
        span
    #panel.slideout-panel.slideout-panel-right.content
      block header
        include ../partials/_header
      block content

      block footer
        include ../partials/_footer
    .form
      .form__block.flex.center-xs
        h4 Оставь заявку
        p На регистрацию товарного знака
        form
          input(type="text" placeholder="Ваше имя" required autocomplete="off" name="name")
          input(type="tel" required autocomplete="off" placeholder="Email / Телефон" name="phone")
          input(type="text" placeholder="Название торговой марки" name="mark")
          .form__block__file
            input(type="file" name="description" id="file" placeholder="Прикрепить логотип")
            label(for="file") Прикрепить логотип
              i.icon-Dwonload
          input(type="submit" value="Отправить заявку")
          .form__block__checkbox.flex.start-xs
            input(type="checkbox" id="checkbox")
            label(for="checkbox") Я даю свое согласие на обработку персональных данных и соглашаюсь с условиями 
              a(href="#") и политикой конфиденциальности
      .form__close
        span
    block scripts
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/js/swiper.js")
      script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmsPz6X3KK2wvfhDk7uSPIET6N4ayipa4")
      script(type="text/javascript" src="js/app.js")

