include _mixins
doctype html
html
  head
    include _head

  body
    #menu.slideout-menu.slideout-menu-right
      ul
        li
          a(href="#") Приимущества
        li
          a(href="#") Партнеры
        li
          a(href="#") О нас
        li
          a(href="#") Отзывы
        li
          a(href="#") Команда
        li
          a(href="#") Контакты
      .menu-close
        span
    #panel.slideout-panel.slideout-panel-right
      block header
        include ../partials/_header
      block content
      
      block footer
        include ../partials/_footer

      block scripts
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js")
        script(src="js/slideout.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/js/swiper.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7h7k5lERWifxKf5qq-FbFtDCuKwxrPv0")
        script(type="text/javascript" src="js/app.js")

